# Wallet Connect ID needed to run the project. You can create one here: https://cloud.walletconnect.com/sign-in
WC_PROJECT_ID=""

# Claw game frontend
NEXT_PUBLIC_CLAW_GAME_ADDRESS=""
NEXT_PUBLIC_CLAW_CHAIN_ID="42220"
NEXT_PUBLIC_CLAW_RPC_URL="https://forno.celo.org"
NEXT_PUBLIC_CLAW_DEPLOY_BLOCK="0"
NEXT_PUBLIC_CLAW_USDT_ADDRESS="0x48065fbBE25f71C9282ddf5e1cD6D6A887483D5e"
